<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<!-- jQuery is used only for this example; it isn't required to use Stripe -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript">
	// This identifies your website in the createToken call below
	Stripe.setPublishableKey('pk_test_OI0JTbtFkVDtaZJvTbyhb6lg');

	var stripeResponseHandler = function(status, response) {
		var $form = $('#card_form');

		if (response.error) {
			// Show the errors on the form
			$form.find('.payment-errors').text(response.error.message);
			$form.find('button').prop('disabled', false);
		} else {
			// token contains id, last4, and card type
			var token = response.id;
			// Insert the token into the form so it gets submitted to the server
			$("#manager_user_attributes_stripe_token").val(token);
			// and re-submit
			document.getElementById("card_form").submit();

		}
	};

	$(document).on("click", "#manager_register", function(e) {
		e.preventDefault();
		card = {
			name : $('#manager_user_attributes_name').val(),
			number : $('#card_number').val(),
			cvc : $('#code').val(),
			expMonth : $('#month').val(),
			expYear : $('#year').val()
		};
		Stripe.card.createToken(card, stripeResponseHandler);
	})
	
</script>

<h2>Sign up</h2>
<div id="stripe_error" class="alert alert-error" style="display:none" ></div>
<div>
	<div class="container">
		<div class="containHolder">
			<div class="row">
				<div class="col-md-12">
					<div>
						<h4>Step 1: Your Information</h4>
						<%= form_for @manager,:html=>{:id=>"card_form"} do |f| %>
						<div class="clr"></div>
						<% if @manager.errors.any? %>
						<ul class="alert fade in alert-error">
							<% @manager.errors.full_messages.each do |msg| %>
							<li>
								<%= msg %>
							</li>
							<% end %>
						</ul>
						<% end %>
						
						<div class="form-group">
							<%= f.text_field :first_name, :required => true, :placeholder=>"Enter first name",:class=>"form-control" %>
							<%= f.text_field :last_name, :required => true, :placeholder=>"Enter last name",:class=>"form-control" %>
						</div>

						<%= f.fields_for :user do |u| %>
						<%= u.hidden_field :stripe_token %>
						<div class="form-group">
							<%= u.hidden_field :name, :value => "name" %>

						</div>

						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									@
								</div>
								<%= u.email_field :email, :required => true, :placeholder=>"Enter email",:class=>"form-control" %>
							</div>
						</div>

						<div class="form-group">
							<%= u.password_field :password, :required => true,:class=>"form-control",:placeholder=>"Password" %>
							<%= u.password_field :password_confirmation,:class=>"form-control", :required => true,:placeholder=>" Confirm Password" %>

						</div>
						<% end %>
						<div class="form-group">
                      
							<label class="radio-inline">
								<%= f.radio_button :gender, "male" %>
								Male </label>
							<label class="radio-inline">
								<%= f.radio_button :gender, "female" %>
								Female </label>
						</div>

					</div>
					<div>
						<h4>Step 2: Company Information</h4>

						<div class="form-group">
							<%= f.text_field :company_name, :required => true, :placeholder=>"Enter name",:class=>"form-control" %>
							<%= f.text_field :company_phone, :placeholder=>"Phone",:class=>"form-control" %>
														
						</div>

						<br/>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									@
								</div>
								<%= f.email_field :company_email, :required => true, :placeholder=>"Enter email",:class=>"form-control" %>
							</div>
							
							<!-- <input type="text" class="form-control" id="exampleInputPassword2" placeholder="Login Url"> -->
						</div>
						<br/>
						<!-- <b>**Every account has its own url. This is where you and your employee go to log in</b> -->

					</div>

					<div>
						<h4>Step 3: Payment Confirmation</h4>
						<% if @user.stripe_token %>
						<p>
							Credit card acceptance is pending.
						</p>
						<% else %>
						<div>

							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
								One Time Payment </label>
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
								Monthly Recuring Payment </label>

						</div>

						<div class="form-group">
							<input type="text" class="form-control" id="card_number"  placeholder="Credit Card Number">
							<input type="email" class="form-control" id="code"  placeholder="CVV Number">
						</div>
						<br/>
						<div class="form-group">
							<input type="text" size="2" class="form-control"  placeholder="month" id="month"/>
							<input type="text" size="4" class="form-control"  placeholder="Year" id="year"/>
							<!-- <input type="text" class="form-control"  placeholder="Expairy Date" id="datepicker" /> -->
						</div>

					</div>
					<%end%>

				</div>
				<br/>
				<b>By clicking create my account, you are agree to the terms of service and privacy policy</b>
				<br/>

				<button type="button" class="btn btn-primary" id="manager_register">
					Sign up
				</button>
				<!-- <button type="button" class="btn btn-primary">Create Account</button> -->
			</div>

		</div>

	</div>
</div>

<%end%>
