<%= form_for(@manager) do |f| %>
<div class="clr"></div>
<% if @manager.errors.any? %>
<ul class="alert fade in alert-error">
<% @manager.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<% end %>

<div>
	<div class="container">
	
	   <div class="containHolder">
	   		<div class="row">			  	  
			  <div class="col-md-12">
                  <div>
                      <h4>Step 1: Your Information</h4>
                      <form class="form-inline" role="form">
                          <div class="form-group">
                            <input type="text" class="form-control"  placeholder="First Name">
                              <input type="text" class="form-control"  placeholder="Last Name">
                          </div>
                          <%= f.fields_for :user do |u| %>
                          <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-addon">@</div>
                              <%= u.email_field :email, :required => true, :placeholder=>"Enter email",:class=>"form-control" %>                              
                            </div>
                          </div><br/>
                          <div class="form-group">
                            <%= u.password_field :password, :required => true,:class=>"form-control",:placeholder=>"Password" %>
                            <%= u.password_field :password_confirmation,:class=>"form-control", :required => true,:placeholder=>" Confirm Password" %>
                            
                              
                          </div>
                          <%end%>
                          <div class="form-group">
                            
                            <label class="radio-inline">
                              <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Male
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Female
                            </label>
                          </div>
                        </form>
                  </div>
                  <div>
                      <h4>Step 2: Company Information</h4>
                      <form class="form-inline" role="form">
                          <div class="form-group">
                            <input type="text" class="form-control"  placeholder="Company">
                              <input type="email" class="form-control"  placeholder="Email">
                          </div>
                          
                          <br/>
                          <div class="form-group">
                            
                            <input type="tel" class="form-control" id="exampleInputPassword2" placeholder="Phone">
                              <input type="text" class="form-control" id="exampleInputPassword2" placeholder="Login Url">
                          </div>
                           <br/>
                          <b>**Every account has its own url. This is where you and your employee go to log in</b>
                        </form>
                  </div>
                  <div>
                      <h4>Step 3: Payment Confirmation</h4>
                      <div>
                        
                          <label class="radio-inline">
                              <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> One Time Payment
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Monthly Recuring Payment
                            </label>
                         
                      </div>
                      
                      
                      <form class="form-inline" role="form">
                          <div class="form-group">
                            <input type="text" class="form-control"  placeholder="Credit Card Number">
                              <input type="email" class="form-control"  placeholder="CVV Number">
                          </div>
                          <br/>
                          <div class="form-group">
                           <input type="text" class="form-control"  placeholder="Expairy Date" id="datepicker" />
                          </div>
                          
                    </form>
                      
                  </div>
                  <br/>
                  <b>By clicking create my account, you are agree to the terms of service and privacy policy</b>
                  <br/>
			  	  <button type="button" class="btn btn-primary">Create Account</button>
			  </div>
			  
		</div>
	   	
	   </div>
	</div>
</div>




<!-- <%= f.fields_for :user do |u| %>
<div class="change_password_fields">
<div class="change_password_names"><%=u.label :email%></div>
<div class="change_password_form-field"><%= u.email_field :email, :required => true, :autofocus => true,:class=>"text_class" %></div>
<div class="clr"></div>
</div>
<div class="change_password_fields">
<div class="change_password_names"><%=u.label :password%></div>
<div class="change_password_form-field"><%= u.password_field :password, :required => true %></div>
<div class="clr"></div>
</div>
<div class="change_password_fields">
<div class="change_password_names"><%=u.label :password_confirmation,"Confirm Password"%></div>
<div class="change_password_form-field"><%= u.password_field :password_confirmation, :required => true %></div>
<div class="clr"></div>
</div>
<% end %> -->


<%end%>
