<h2>Sign in</h2>
<div>
	<div class="container">
		<div class="containHolder">
			<div class="row">
				<div class="col-md-12">
					<div class="form-horizontal">						
						<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

							<div class="form-group">
								<label for="email" class="col-sm-2 control-label">Email</label>
								<div class="col-sm-3">
									<%= f.email_field :email, :required => true %>
								</div>
							</div>
							
							<div class="form-group">
								<label for="password" class="col-sm-2 control-label">Password</label>
								<div class="col-sm-3">
									<%= f.password_field :password, :required => true %>
								</div>
							</div>
							<div class="form-group">				
							<% if devise_mapping.rememberable? -%>
								<label for="remember_me" class="col-sm-2 control-label">Remember Me</label>
									<div class="col-sm-3">
									<%= f.check_box :remember_me %> 
									</div>
							</div>
							<% end -%>
							
							<div class="login-btn">
								<%= f.submit "Sign in",:class=>"btn btn-primary" %>
							</div>
					    <% end %>
					    <div class="form-group forget-password">
						
						Don't have a login? Please <%= link_to "Sign up", new_manager_path %>.
						<%= render "devise/shared/links" %>
						</div>
						</div>
				  	</div>
				</div>
			</div>
		</div>
	</div>
</div>
