
<!DOCTYPE html>
<html>
  <head>
    <title>Timenow</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
   
  </head>
  <body>    
        <nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">

            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="container-fluid">

                <div class="navbar-header">

                    
						<%= link_to "Timenow", root_path, :class => 'navbar-brand' %>
                    

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->

                <div class="collapse navbar-collapse" id="navbarCollapse">
                   <%=render "/layouts/navigation"%>
                </div>

            </div>

        </nav>
        

        <div class="container-fluid">
        	

           
                  <%= yield %>
            <hr>

            <div class="row">

                <div class="col-xs-12">

                    <footer>

                        <p>&copy; Copyright 2013 Tutorial Republic</p>

                    </footer>

                </div>

            </div>

        </div>



    
    	

      <%= render 'layouts/messages' %>
     
    </div>
  </body>
</html>


